<% content_for :title, @business_profile.name + " The Startup Community - Sydney. List yourself and your startup - get connected!" %>
<% content_for :description, @business_profile.name + @business_profile.description %>

<div class="row">
  <div class ="span12">
    <h1><%= @business_profile.name %></h1>
    <br />
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= render 'about' %>
    
  </div>

  <div class="span5">
    <%= render 'contact' %>
    
    
  </div>
  <div class="span4">
    <%= render 'share' %>
  </div>
</div>


