<div class="row">
  <div class ="span12">
    <h1><%= @business_profile.name %></h1>
    <br />
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= render 'about' %>
    
  </div>

  <div class="span4">
    <%= render 'contact' %>
    
    
  </div>
  <div class="span4">

  </div>
</div>


