<h2>3. Spread the word</h2>
    <p>Share the love! Encourage your colleagues and friends in the startup community to come on board. The more, the merrier!</p>
    <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.thestartupcommunity.com" data-text="Check out my startup's profile and create your own" data-via="SydSUCommunity" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>