<div class="map-popup">  
  <h4><%= image_tag(object.image_url, :class => "map-logo") %> <%= link_to object.name, business_profile_path(object) %></h4>
  <h4><%= object.address %></h4>
  <h4><%= object.phone %></h4>
</div>