<%= render 'index_title' %>

<div class="row">
  <div class ="span9">
    <h1><i class="icon-group"></i> People Profiles <span style="font-size:20px">(<%= @user_profiles.count.to_s %>)</span></h1>
    <br />
  </div>
  <div class="span3">
    <% if user_signed_in? %>
      <% if !current_user.user_profile %>
        <p pull-right><%= link_to 'Create your personal profile', new_user_profile_path, :class => "btn btn-success" %></p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= render 'user_table' %>
  </div>
</div>


<br />

