<h1>Create your profile</h1>
<br>
<p>Only the 'Describe yourself' and 'About me' sections are required, all other fields are optional.
  <br>
  Only the information you provide here will be displayed on your profile.</p>
<br>
<%= render 'form' %>

