<%= render 'title' %>

<div class="row">
  <div class ="span12">
    <h1>Create a profile</h1>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= render 'personal_profile' %>
    
  </div>
  <div class="span4">
    <%= render 'business_profile' %>
   
  </div>
  <div class="span4">
    <%= render 'share' %>
  </div>
</div>