<footer>
  
  
      <div class="container">

        <div class="navbar navbar-fixed-bottom">
          <div class="navbar-inner">
           
            
            
              <ul class="nav">
               
                <li><a href="http://www.sydneydevcamp.com" target"_blank">Powered by <%= image_tag('FB-logo.png', :class => "footer-logo") %> <span style="color:yellow">Sydney Dev Camp</span></a></li>
                 <li><a>&copy; 2013 The Startup Community</a></li>

              </ul>
              
            
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
</footer>