<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for your feedback. It is greatly appreciated.</h1>

    <p>Your feedback has been submitted and will be addressed very shortly.</p>

    <p>Kind regards</p>

    <p>Peter Argent</p>
    <p><a href="http://www.thestartupcommunity.com">The Startup Community</a></p>
    <p>thestartupcommunity@gmail.com</p>
  </body>
</html>
