    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag ('map6.png') %>
          <div class="container">
            <div class="carousel-caption caption-one">
              <h1>Welcome to your<br />startup community.</h1>
              <p class="lead">Create a profile for yourself, your startup company or your business that services the startup community.</p>
              <%= link_to 'Start here', start_path, :class => "btn btn-success btn-large" %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->