<footer>
  
  
      <div class="container">

        <div class="navbar navbar-fixed-bottom">
          <div class="navbar-inner">
           
            
            
              <ul class="nav">
                <li><a>&copy; 2013 Sydney Dev Camp</a></li>
                <li><a href="http://www.sydneydevcamp.com" target"_blank">Brought to you by <%= image_tag('FB-logo.png', :class => "footer-logo") %> <span style="color:yellow">Sydney Dev Camp</span></a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
              </ul>
              
            
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
</footer>